src/main/resources/wsdl/ProductServices.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:tns="http://www.venkata.bhumi.com/product"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				  xmlns:vb="http://www.venkata.bhumi.com/product/types/"
				  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
				  name="ProductWS" targetNamespace="http://www.venkata.bhumi.com/product">
	<wsdl:documentation>SOAP Definition for product service</wsdl:documentation>
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.venkata.bhumi.com/product/types/" schemaLocation="products.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ProductByIdRequest">
		<wsdl:part name="productId" type="xsd:integer"/>
		<wsdl:part name="product" type="vb:ProductType"/>
	</wsdl:message>
	<wsdl:message name="GetAllProductsRequest">
		<wsdl:part name="parameters" element="vb:GetAllProductsRequest"/>
	</wsdl:message>
	<wsdl:message name="ProductResponse">
		<wsdl:part name="product" type="vb:ProductType"/>
	</wsdl:message>
	<wsdl:message name="ProductsResponse">
		<wsdl:part name="parameters" element="vb:ProductsResponse"/>
	</wsdl:message>

	<!--This element defines the service operations and the combination of input and output elements to clients-->
	<wsdl:portType name="ProductWSPortType">
		<wsdl:operation name="GetProductById" parameterOrder="productId product">
			<wsdl:input wsam:Action="http://com/bhumi/venkata/ProductServices.wsdl/ProductByIdRequest" message="tns:ProductByIdRequest"/>
			<wsdl:output wsam:Action="http://com/bhumi/venkata/ProductServices.wsdl/ProductWSPortType/ProductResponse" message="tns:ProductResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetAllProducts">
			<wsdl:input message="tns:GetAllProductsRequest"/>
			<wsdl:output message="tns:ProductsResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ProductWSPortBinding" type="tns:ProductWSPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetProductById">
			<soap:operation soapAction="http://www.venkata.bhumi.com/products/GetProductById"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllProducts">
			<soap:operation soapAction="http://www.venkata.bhumi.com/products/GetAllProducts"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<!-- Definition of the service and the endpoint. -->
	<wsdl:service name="ProductWS">
		<wsdl:port name="ProductWSPort" binding="tns:ProductWSPortBinding">
			<soap:address location="the-url-service-goes-here"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
